*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 4rem;
    font-weight: 850;
}

.img-about{
    max-height: 450px;
}

.content-area > button{
    margin: 2% 0;
    font-size: 1.4rem;
}

.ignore-std-padding{
    margin-left: -15px;
    margin-right: -15px;
}

.bg-grey{
    background-color: #e6ebef;
}

#avatar{
    padding-top: 8%;
    margin-left: 25%;
    max-height: 350px;
}

@media (min-width: 1600px) {
    .content-area{
        font-size: 2.8rem;
    }
}

@media (max-width: 1599.98px) {
    .content-area{
        font-size: 2.4rem;
    }
}

@media (max-width: 1199.98px) {
    .content-area{
        font-size: 2rem;
    }
}

@media (max-width: 991.98px) { 
    h1{
        padding-top: 3%;
        font-size: 3rem;
    }
    h2{
        font-size: 1.4rem;
    }
    .content-area{
        font-size: 1.6rem;
    }
    .content-area > small{
        font-size: 1.2rem;
    }
    .content-area > button{
        font-size: 1.0rem;
    }
 }

 @media (min-width: 576px) and (max-width: 770px) {
    h1{
        font-size: 2.4rem;
    }
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .content-area{
        font-size: 1.2em;
    }
    .content-area > small{
        font-size: 1rem;
    }
    .content-area > button{
        font-size: 0.8rem;
    }
 }

 @media (max-width: 575.98px) { 
    p{
        font-size: .85rem;
    }
 }