*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.intro-container{

}

.intro-full-width{
    background-color: #e6ebef;
}

.intro h1{
    font-size: 4.4rem;
    font-weight: 850;
}

.avatar{
    height: 300px;
    padding-top: 3%;
    margin-left: 25%
}