*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 4rem;
    font-weight: 850;
}
.content-area > .btn{
    margin: 2% 0;
    font-size: 1.4rem;
}
.content-area > small{
    color: #6c757d;
}
.img-about{
    max-height: 450px;
}
.footer{
    padding: 3% 3%;
}
.footer-links{
    text-align: right;
}
.footer-links > li{
    padding: 0 0.5%;
}
.footer-links > li > a{
    color: #6c757d;
}
.ignore-std-padding{
    margin-left: -15px;
    margin-right: -15px;
}
.bg-grey{
    background-color: #e6ebef;
}
#intro-text{
    font-size: 1.3rem;
}
#avatar{
    padding-top: 8%;
    max-height: 350px;
}
#footer-image-credit-wrapper > a{
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

@media (min-width: 1600px) {
    .content-area{
        font-size: 2.8rem;
    }
}

@media (max-width: 1599.98px) {
    .content-area{
        font-size: 2.4rem;
    }
}

@media (max-width: 1199.98px) {
    .content-area{
        font-size: 2rem;
    }
}

@media (max-width: 991.98px) { 
    h1{
        padding-top: 3%;
        font-size: 3rem;
    }
    h2{
        font-size: 1.4rem;
    }
    .content-area{
        font-size: 1.6rem;
    }
    .content-area > small{
        font-size: 1.2rem;
    }
    .content-area > .btn{
        font-size: 1.0rem;
    }
    #intro-text{
        font-size: 1rem;
    }
    #avatar{
        max-height: 290px;
    }
 }

 @media (max-width: 767.98px) {
    h1{
        font-size: 2.4rem;
    }
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .content-area{
        font-size: 1.4em;
    }
    .content-area > small{
        font-size: 1rem;
    }
    .content-area > .btn{
        font-size: 1rem;
        margin-top: 2%;
    }
    .footer{
        font-size: 0.8rem;
    }
    #intro-text{
        font-size: 0.9rem;
    }
    #footer-image-credit-wrapper > a{
        font-size: 0.62rem;
    }
 }

 @media (max-width: 575.98px) { 
    p{
        font-size: .85rem;
    }
    .xs-img-overlay{
        text-shadow: 0 0 5px black;
        font-weight: 750;
        padding: 4% 0;
    }
    .xs-img-overlay *{
        font-weight: 550;
        text-shadow: 0 0 3px black;
        color: #f8f9fa !important; 
    }
    .xs-img-overlay > span > .btn{
        border-color:  #f8f9fa;
    }
    .footer-image-credit{
        text-align: center;
    }
    .footer-links{
        margin-top: 2%;
        text-align: center;
    }
    #section-a{
        background-image: url("resources/curr-work.jpg");
    }
    #section-b{
        background-image: url("resources/resume.jpg");
    }
    #footer-image-credit-wrapper{
        white-space: nowrap;
        overflow-x: auto;
    }
    #footer-image-credit-wrapper > a{
        display: inline-block;
    }
 }